<div class="container">
  <h4>Login</h4>
  <form action="">
    <div class="input-field col s12">
      <input type="email" id="email" class="validate" ng-model="email">
      <label for="email" data-error="Invalid mail" data-success="">Email</label>
    </div>
    <div class="input-field col s12">
      <input type="password" id="password" class="validate" ng-model="password">
      <label for="password" data-error="wrong" data-success="">Password</label>
    </div>
    <button class="btn waves-effect" type="button" ng-click="login()">Login</button>
  </form>
</div>