<div class="container">
  <div class="">

    <div class="card-panel">
      <h4 class="header2">Booking room Request</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <select id="room" type="text" ng-model="room-id" ng-options="room for room.id in rooms"></select>
              <label for="room">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="message" class="materialize-textarea"></textarea>
              <label for="message">Message</label>
            </div>
            <div class="row">
              <div class="input-field col s3 left">
                <button class="btn red waves-effect waves-light right" data-ng-click="delete()" type=" button " name="action ">Delete Request
                  <i class="material-icons">delete</i>
                </button>
              </div>
              <div class="input-field col s3 right">
                <button class="btn red waves-effect waves-light right" data-ng-click="delete()" type=" button " name="action ">Update Request
                  <i class="material-icons">mode_edit</i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>